<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    {% if prediction_text %}
    <h3>{{ prediction_text }}</h3>
    {% endif %}
    <!-- {% if mytext %}
    <div class="container-fluid bg-success p-4 my-5">
        <h1>{{mytext}}</h1>
    </div>
    {% endif %}
    
    {% if mynumber %}
    <div class="alert alert-danger">
        <h2>{{mynumber}}</h2>
    </div>
    {% endif %} -->
</body>
</html>